.footer
    margin-top: auto
    padding: 120px 0 40px
    &__top
        margin-bottom: 120px

    &__bottom 
        .fx-ac
            gap: 40px 

    &__link 
        color: #717684
        text-decoration: underline

    .nav
        gap: 60px
        &__link
            padding: 10px
            &:last-child
                padding-right: 0


