.header
    top: 0
    left: 0
    width: 100%
    --pt: 32px
    padding: var(--pt) 0 0
    position: relative
    z-index: 99999
    padding: var(--pt) 0
    .container

    .btn__menu
        display: none
        position: relative
        z-index: 10
        opacity: 1 !important

    .nav
        gap: 60px
        &__link
            padding: 10px
            &:last-child
                padding-right: 0

    @media (max-width: 1100px)
        overflow: hidden
        transition: all .3s ease
        height: 93px
        --pt: 25px
        .container
            transition: inherit

        &.active
            background-color: rgba(0, 0, 0, .5)
            height: 100vh
            .container
                border-radius: 30px

        .btn__menu
            display: block
            width: 48px
            height: 48px
            position: relative

            &::before,
            &::after
                content: ''
                transition: inherit
                display: block
                margin: 0 auto
                height: 3px
                width: 30px
                position: absolute
                top: calc(50% - 4.5px)
                right: 0
                transform: translateY(-50%)
                border-radius: 5px
                background-color: $black

            &::after
                width: 26px
                top: calc(50% + 4.5px)

            &.active
                &::before,
                &::after
                    top: 50%
                    transform: translateY(-50%) rotate(45deg)

                &::after
                    width: 30px
                    transform: translateY(-50%) rotate(-45deg)

        .nav
            position: absolute
            z-index: 1
            width: calc( 100% - 15px )
            top: calc( var(--pt) - 5px )
            right: 0
            transition: inherit
            background-color: #FAFAFA
            opacity: 0
            visibility: hidden
            border-radius: 20px 0 0 20px
            transform: translateX(20%)
            display: block
            padding: 123px 20px 93px
            &__link
                display: block
                font-size: 26px
                padding: 12px 0
                line-height: 100%
                color: #757E92

            &.active
                opacity: 1
                visibility: visible
                transform: translateX(0)

    @media (max-width: 720px)

.logo
    position: relative
    z-index: 100
    img
        max-width: 186px
