@import 'normolize'
@import 'elements'
@import 'slick'
@import 'header'

.hero
    text-align: center
    padding: 60px 0 120px
    overflow: hidden
    &__title
        margin-bottom: 20px

    &__descr
        max-width: 850px
        line-height: 140%
        margin: 0 auto 60px

    &__btns
        gap: 21px
        margin-bottom: 100px

    &__list
        text-align: center
        gap: 5rem
        b
            color: $black
            font-weight: 600
            font-size: 96px
            line-height: 110%
            text-transform: uppercase

        b, span
            display: block

    &__item
        margin: 0 auto

    @media screen and ( max-width: 1600px )
        &__item
            // min-width: 300px

        &__descr
            margin-bottom: 50px

        &__btns
            margin-bottom: 80px

    @media screen and ( max-width: 992px )
        padding: 50px 0 90px

        &__list
            gap: 3.75rem

        &__descr
            margin-bottom: 40px

        &__item
            b
                font-size: 64px

    @media screen and ( max-width: 720px )
        padding: 40px 0 80px

        &__list 
            gap: 40px

        &__btns
            margin-bottom: 50px


.faq
    &__text
        display: none
        max-width: 90%
        padding-bottom: 20px

    &-item
        max-width: 1400px
        transition: all ease .3s
        margin: 0 auto 10px
        padding: 0 32px
        background-color: #F9FAFB
        border-radius: 60px
        &:last-child
            margin-bottom: 0

        &.active
            border-radius: 20px 60px 20px 20px
            .faq__text
                display: block

    &__heading
        position: relative
        z-index: 1
        padding: 34px 72px 34px 0
        margin: 0
        width: 100%
        text-align: left
        text-wrap: stable
        color: #23304C
        cursor: pointer
        &::after
            width: 60px
            height: 60px
            border-radius: 50%
            background-repeat: no-repeat
            background-position: center center
            background-image: url('../img/arr_d.svg')
            content: ''
            display: block
            font-weight: normal
            position: absolute
            top: 50%
            right: 0
            transform: translateY(-50%)
            transition: all ease .3s
            transform-origin: 50% 0%

        &.active
            opacity: 1
            &:after
                transform: scaleY(-1) translateY(-50%)

    @media screen and ( max-width: 992px )

        &-item
            padding: 12px 12px 12px 24px
            border-radius: 36px
            &.active
                border-radius: 12px 36px 12px 12px

        &__text 
            padding-bottom: 0

        &__heading
            padding: 7px 45px 7px 0
            line-height: 130%
            &::after
                width: 40px
                height: 40px

@import 'footer'
