@import 'normolize'
@import 'elements'
@import 'slick'
@import 'header'

.hero
    text-align: center
    padding: 60px 0 120px
    overflow: hidden
    &__title
        margin-bottom: 20px

    &__descr
        max-width: 850px
        line-height: 140%
        margin: 0 auto 60px

    &__btns
        gap: 21px
        margin-bottom: 100px

    &__list
        text-align: center
        gap: 5rem
        b
            color: $black
            font-weight: 600
            font-size: 96px
            line-height: 110%
            text-transform: uppercase

        b, span
            display: block

    &__item
        margin: 0 auto

    @media screen and ( max-width: 1600px )
        &__item
            // min-width: 300px

        &__descr
            margin-bottom: 50px

        &__btns
            margin-bottom: 80px

    @media screen and ( max-width: 992px )
        padding: 50px 0 90px

        &__list
            gap: 3.75rem

        &__descr
            margin-bottom: 40px

        &__item
            b
                font-size: 64px

    @media screen and ( max-width: 720px )
        padding: 40px 0 80px

        &__list
            gap: 40px

        &__btns
            margin-bottom: 50px

.how
    &__wrap
        --g: 60px
        gap: var(--g)

    &__item
        width: calc( (100% - var(--g)*2) / 3 )
        img
            display: block
            margin: 0 0 40px

        .h3
            margin: 0 0 16px

    @media screen and ( max-width: 1100px )
        &__wrap

        &__item
            text-align: center
            width: calc(50% - 60px / 2 )
            max-width: 400px
            margin: 0 auto
            img
                margin: 0 auto 40px

    @media screen and ( max-width: 992px )
        &__item
            max-width: 330px

    @media screen and ( max-width: 720px )
        &__item
            width: 100%
            max-width: 100%
            img
                width: 40px
                height: 40px
                margin-bottom: 20px
            .h3
                margin-bottom: 8px

.live
    text-align: center
    &__heading
        margin-bottom: 40px

    &__descr
        margin: 0 0 80px

    &__slider
        max-width: 1060px
        margin: 0 auto 40px

    &__slide
        margin: 0 30px
        img
            display: block
            margin: 0 auto
            border: 2px solid #E5E7EB
            border-radius: 20px

    &__navbar
        .slick
            &-active
                opacity: 1

    &__nav
        font-weight: 600
        font-size: 14px
        line-height: 24px
        margin: 0 20px
        opacity: 0
        // white-space: nowrap
        text-transform: uppercase

    .slick
        &-current
            color: $prime

    @media screen and ( max-width: 1200px )
        &__heading
            margin-bottom: 20px
        &__descr
            margin-bottom: 40px
        &__slider
            margin-bottom: 20px
            position: relative
        &__slide
            margin: 0 10px

.reviews
    background-color: #F9FAFB
    &__slider
        position: static !important
        gap: 20px

    .slick
        &-dots
            margin-top: 40px
        //     gap: 0
        //     li
        //         padding: 0

        //     button
        //         border-radius: 4px
        //         height: 6px
        //         transform: none
        //         width: 45px
        //         opacity: 1
        //         background-color: #E2E2E4

        //     .slick-active button
        //         opacity: 1
        //         background-color: $prime

        @media screen and ( max-width: 1200px )
            &-list
                padding: 0 7px !important

            &-slide
                margin: 0 7px

.review
    max-width: 500px
    padding: 20px
    border-radius: 20px
    background-color: #fff
    margin: 0 10px
    &__header
        gap: 15px
        margin-bottom: 45px

    &__heading
        margin: 0 0 4px
        color: $black

    &__img
        min-width: 60px
        width: 60px
        height: 60px
        border-radius: 8px
        background-color: #E0E0E0

    &__city
        font-size: 14px
        color: $prime
        line-height: 24px
        text-transform: uppercase

    &__text
        color: $black
        padding-top: 32px
        background-repeat: no-repeat
        background-position: top left
        background-image: url('../img/qu.svg')
        margin: 0

    @media screen and ( max-width: 1200px )
        max-width: unset
        &__header
            margin-bottom: 32px

        &__img
            min-width: 48px
            width: 48px
            height: 48px

        &__city
            font-size: 12px
            letter-spacing: 1.3px

.tariffs
    background-repeat: no-repeat
    background-position: center center
    background-image: url('../img/tariffs__bg.svg')
    &__wrap
        gap: 40px
        &>*
            width: calc( (100% - 80px) / 3 )

    &__tag
        font-weight: 500
        font-size: 14px
        line-height: 18px
        text-align: center
        padding: 6px 20px
        border-radius: 50px
        color: $prime
        background-color: #DBE4FF
        position: absolute
        top: 29px
        right: 24px

    &__heading
        margin: 0 0 4px

    &__descr
        font-size: 14px
        color: $prime
        letter-spacing: 1.7px
        text-transform: uppercase
        margin: 0 0 20px

    &__price
        font-size: 40px
        line-height: 100%
        margin-bottom: 32px
        span
            color: #717684
            font-size: 20px
            vertical-align: middle

    &__info
        margin: 60px 0 20px
        font-weight: 500
        font-size: 14px
        line-height: 18px
        text-align: center

    &__list
        margin-bottom: auto
        li
            padding-left: 36px
            background-repeat: no-repeat
            background-position: left center
            background-image: url('../img/check.svg')
            margin: 0 0 20px
            &:last-of-type
                margin-bottom: 0

    &__item
        padding: 24px
        position: relative
        z-index: 1
        border-radius: 20px
        background-color: #fff
        &:last-child
            background-repeat: no-repeat
            background-position: top right
            background-size: 36% auto
            background-image: url('../img/tariffs__ic.png')

        .btn
            margin-top: 20px
            width: 100%

    @media screen and ( max-width: 1200px )
        .container
            max-width: 780px

        &__wrap
            gap: 20px
            &>*
                width: calc( (100% - 20px) / 2 )

        &__price
            font-size: 24px
            span
                font-size: 1rem

        &__descr
            font-size: 0.75rem
            margin-bottom: 1rem

        &__list
            margin-bottom: 2rem

        &__item
            display: block
            .btn
                margin-top: auto

    @media screen and ( max-width: 720px )
        &__wrap
            gap: 12px
            &>*
                width: 100%

        &__list
            margin-bottom: 70px

.clients
    padding: 60px 0
    background-repeat: no-repeat
    background-position: top right, center center
    background-size: 37% auto, cover
    background-image: url('../img/clients__ic.png'), url('../img/clients__bg.jpg')
    text-align: left
    h2
        text-align: left
        max-width: 987px
        margin: 0 0 20px

    p
        max-width: 502px
        color: $black
        margin: 0 0 96px

    @media screen and ( max-width: 1600px )
        background-position: center right, center center
        h2
            max-width: 770px

    @media screen and ( max-width: 992px )
        h2
            max-width: 550px

        p
            max-width: 400px

    @media screen and ( max-width: 720px )
        padding: 40px 0 23px
        background-position: center right, center center
        background-size: 60% auto, cover
        h2 
            margin-bottom: 12px
        p 
            margin-bottom: 52.7vw

        .btn 
            width: 100%

.faq
    &__text
        display: none
        max-width: 90%
        padding-bottom: 20px

    &-item
        max-width: 1400px
        transition: all ease .3s
        margin: 0 auto 10px
        padding: 0 32px
        background-color: #F9FAFB
        border-radius: 60px
        &:last-child
            margin-bottom: 0

        &.active
            border-radius: 20px 60px 20px 20px
            .faq__text
                display: block

    &__heading
        position: relative
        z-index: 1
        padding: 34px 72px 34px 0
        margin: 0
        width: 100%
        text-align: left
        text-wrap: stable
        color: #23304C
        cursor: pointer
        &::after
            width: 60px
            height: 60px
            border-radius: 50%
            background-repeat: no-repeat
            background-position: center center
            background-image: url('../img/arr_d.svg')
            content: ''
            display: block
            font-weight: normal
            position: absolute
            top: 50%
            right: 0
            transform: translateY(-50%)
            transition: all ease .3s
            transform-origin: 50% 0%

        &.active
            opacity: 1
            &:after
                transform: scaleY(-1) translateY(-50%)

    @media screen and ( max-width: 992px )

        &-item
            padding: 12px 12px 12px 24px
            border-radius: 36px
            &.active
                border-radius: 12px 36px 12px 12px

        &__text
            padding-bottom: 0

        &__heading
            padding: 7px 45px 7px 0
            line-height: 130%
            &::after
                width: 40px
                height: 40px

@import 'footer'
